.content {
    width: 500px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 50px;
  }
  
  .login-form-forgot {
    float: right;
  }
  .login-form-button {
    width: 100%;
  }